.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.toolbar-row {
    font-size: 1.5rem;
    height: 80px;
    
}
.button {
    background-color: #6962dd;
    color: #ffffff;
}
.toolbar-main {
    color: #ffffff;
    background-color: #102b3e;
}